
.management-container {
  /* padding: 24px; */
  background: #fff;
}

.search-bar {
  margin-bottom: 24px;
  display: flex;
  /* justify-content: flex-end; */
  gap: 16px;
}

.table-action-buttons {
  display: flex;
  gap: 8px;
}

.status-tag {
  min-width: 60px;
  text-align: center;
}